@mixin flexSpaceBetween{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
@mixin rowCenter {
    display: flex;
    flex-direction: row;
    align-items: center;
}

// нужен кастомный gap
@mixin grid($count) {
    width: 100%;
    display: grid;
    grid-template-columns: repeat($count, 1fr);
    @media screen and (max-width: $desktop) {
        grid-template-columns: repeat($count - 1, 1fr);
    }
    @media screen and (max-width: $tablet) {
        grid-template-columns: repeat($count - 2,1fr);
    }
    @media screen and (max-width: $mobile) {
        grid-template-columns: repeat($count - 3,1fr);
    }
}
